.vs/
QuizManager.ConsoleTest/
packages/
QuizManager/App_Data/
QuizManager/Areas/
QuizManager/Content/
QuizManager/bin/
QuizManager/fonts/
QuizManager/Migrations/
QuizManager/obj/
QuizManager/Properties/
QuizManager/Providers/
QuizManager/Results/
QuizManager/Scripts/
*.dll
*.pdb
*.suo
*.png
*.cache
*.user
*.exe
*.sln
*.ico
*.csproj
*.config
*.asax
*.asax.cs
QuizManager.DbModels/bin/
QuizManager.DbModels/obj/
QuizManager.DbModels/Properties/
QuizManager.DbModels/Migrations/
QuizManager.XmlModels/Properties/
QuizManager.XmlModels/bin/
QuizManager.XmlModels/obj/
