@using QuizManager.DBModels;
@using QuizManager.ModelViews;

@model Quiz

@{
    //Model.TimeLimit = new TimeSpan(100000000);
}

<div class="well mywell row">

    <div class="text-center">

        <h1><strong>@Model.Name</strong></h1>

    </div>

    <div class="pull-right myhmargin">
        <h4><strong id="timer"></strong></h4>

        <h4><strong>Don't refrash</strong></h4>
    </div>

</div>

<div id="tests">

    @if ((int)Session["page"] == 0)
    {
        //means first load
        @Html.Partial("TestSection", ViewBag.Section as SectionView)
    }

</div>

@section scripts
{
    <script>

        $(window).on('beforeunload', function () {
            return "";
        });

    </script>
}

@if (Model.TimeLimitType == QuizTimeLimitType.Limited)
{
    <script>

        var totalSeconds = @Model.TimeLimit.Value.TotalSeconds;

        function TimerValue() {

            var seconds = totalSeconds % 60;
            var minutes = parseInt(totalSeconds / 60);
            var hours = parseInt(totalSeconds / 3600);

            return "Time Left: " + TimeFormat(hours) + ":" + TimeFormat(minutes) + ":" + TimeFormat(seconds);
        }

        function TimeFormat(value) {
            if (value > 9) {
                return value.toString();
            }
            return "0" + value;
        }

        function Finish() {

            var submitButton = document.getElementsByName('btnSubmit')[0];

            submitButton.setAttribute('name', '');

            $('#TestsForm').append('<input type="hidden" name="btnSubmit" value="QuizTime" />')

            submitButton.click();
        }

        function Tick() {

            document.getElementById('timer').innerText = TimerValue();

            var _tick = setInterval(function () {

                totalSeconds--;

                if (totalSeconds == 0) {
                    alert('Time limit reached');
                    Finish();
                    clearInterval(_tick);
                }

                document.getElementById('timer').innerText = TimerValue();

            }, 1000);
        }

        Tick();

    </script>
}