@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;

@model SectionView

@using (Ajax.BeginForm("TestSection", null, new AjaxOptions() { UpdateTargetId = "tests" }, new { id = "TestsForm" }))
{
    int index = 0;
    foreach (var item in Model.Tests)
    {
        <div class="test">
            @{
                item.Index = index;
                ++index;
            }
            @Html.Partial(item.View, item)
        </div>
    }

    <div id="navigation" class="container form-inline text-center">

        @Html.HiddenFor(x => x.QuizId)

        @Html.HiddenFor(x => x.SectionId)

        @if (Model.PrevVisibility)
        {
            <div class="form-group">
                <input type="submit" class="btn btn-default" name="submit" value="Previous" />
            </div>
        }

        @if (Model.NextVisibility)
        {
            <div class="form-group">
                <input type="submit" class="btn btn-default" name="submit" value="Next" />
            </div>
        }

        @if (Model.IsFinish)
        {
            <div class="form-group">
                <input type="submit" class="btn btn-primary" name="submit" value="Finish" />
            </div>

        }

    </div>
}
