@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@model Quiz

<div class="row well mywell">

    @using (Html.BeginForm("Test", "Test", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Id)

        <input type="submit" id="sub" class="btn btn-info mycolor btn-block" value="Start quiz" />
    }

</div>

<div class="myhmargin">

    @Html.Partial("TableByProperty", new TableView()
    {
        data = new List<Quiz>() { Model },
        PropertyNames = new List<string>()
        {
            "Name", "Type", "TimeLimit", "Value", "TimeLimitType"
        },
        HeaderNames = new List<string>()
        {
            "Name", "Type", "Time limit", "Highest mark", "Time limit type"
        }
    })

</div>

<div class="myhmargin">

    @if (Model.Type == QuizType.Adaptive)
    {
        <h3>
            Adaptive testing:
        </h3>

        <span>
            Testing, the result of which is level of knowledge
            of person (the highest difficulty problem solved)
        </span>
    }

</div>





