@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.Logic;
@using QuizManager.Models;
@model AttemptFilterView
@{
    string SelectedTab = "Attemps";
}

<br />

<div class="row">

    <div class="col-sm-4">

        @if (User.IsInRole(Role.Admin.ToString()))
        {
            @Html.Partial("CabinetPage", SelectedTab)
        }
        else if (User.IsInRole(Role.Student.ToString()))
        {
            @Html.Partial("StudentCabinetPage", SelectedTab)
        }

    </div>

    <div class="col-sm-8" id="attemptTable">

        @Html.Partial("FilterAttempts", Model)

    </div>

</div>

@section scripts
{
    <script>

        $(document).ready(function () {

            function ClearOptions(select) {
                var options = select.getElementsByTagName('option');
                for (option of options) {
                    option.disabled = false;
                }
            }

            function SelectOption(select) {
                var options = select.getElementsByTagName('option');

                for (option of options) {
                    option.setAttribute('disabled', 'disabled');
                    if (option.innerHTML == "Your students") {
                        option.disabled = false;
                    }
                }
            }

            function ChangeSelection() {
                var box = document.getElementById('isMy');
                var selectBox = document.getElementById('users');

                if (box.checked) {
                    SelectOption(selectBox);
                }
                else {
                    selectBox.disabled = false;
                    ClearOptions(selectBox);
                }
            }

            ChangeSelection();

            $(document).on('change', '#isMy', function () {

                ChangeSelection();
            });

        });

    </script>
}
