@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@model Quiz
@{
    ViewBag.Title = "Delete";
}

<div class="">

    @Html.Partial("TableByProperty", new TableView()
        {
            data = new List<Quiz>() { Model },
            PropertyNames = new List<string>()
            {
                "Name", "Type", "TestingType", "TimeLimitType", "TimeLimit", "Value",
            },
            HeaderNames = new List<string>()
            {
                "Name", "Type", "Type of testing", "Time limit type", "Time limit", "Highest mark",
            }
        })

    <div class="">

        @using (Html.BeginForm("Delete", "Cabinet", FormMethod.Post))
        {
            <input type="hidden" value="@Model.Id" name="id" />
            <input type="submit" class="btn btn-danger mycolor" value="Delete quiz" />
        }

    </div>

</div>