@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.Models;
@model IEnumerable<Quiz>
@{
    string SelectedTab = "My Quizs";
    var data = (IEnumerable<SquereData>)ViewBag.QuizData;
}

<br />

<div class="row">

    <div class="col-sm-4">

        @Html.Partial("CabinetPage", SelectedTab)

    </div>

    <div class="col-sm-8">

        <a href="@Url.Action("Add", "Constructor")" 
           type="button" class="btn btn-info btn-lg btn-block myButton">
            CREATE QUIZ
        </a>

        <hr class="myhr" />

        <ul class="list-inline list-scroll">

            @foreach (var quiz in Model)
            {
                <li style="margin:10px;">

                    @RenderHelper.CreateSquere(quiz.Name, quiz.Id,
                        data.Select(x=>x.Name).ToList(), data.Select(x=>x.Link).ToList())
                     
                </li>
            }

        </ul>

    </div>

</div>


