@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.Helpers.Models;

@model PollListRedactorView

@{ 
    string ModelName = "XmlPollList";
}

Зроби редактор для списку (radio, combo, checkbox) для опитування

<div class="container">

    @using (Html.BeginForm("#", "Constructor", FormMethod.Post, new { id = "data" }))
    {
        Html.HiddenFor(x => x.Question.Id);
        Html.HiddenFor(x => x.Quiz.Id);

        <h2>Question:</h2>

        <div class="row">

            @Html.TextBoxFor(x => x.Question.Text)

            @RenderHelper.AddOptionButton("addLink")

        </div>

        <div>

            @for (int i = 0; i < Model._XmlModel.Options.Count(); ++i)
            {
                <div id="options">

                    @if (Model.Question.Type == QuestionType.Checkbox)
                    {
                        <div class="checkbox">

                            Id
                            <input type="hidden"/>

                            <input type="checkbox" name="" />

                            Text

                            HashSet => Rewrite xml

                        </div>
                    }
                    else if(Model.Question.Type == QuestionType.Radio)
                    {
                        <div class="radio">

                            <input type="radio" name=""/>

                        </div>
                    }
                    else if(Model.Question.Type == QuestionType.ComboBox)
                    {
                        <p>Simple text (input)</p>
                    }

                    @RenderHelper.RemoveOptionButton("removeLink")

                </div>
            }

        </div>
    }

    <div class="pull-right">

        @using (Html.BeginForm("Save", "Constructor", FormMethod.Post, new { id = "SaveForm" }))
        {
            <input type="hidden" name="obj" id="dataInput" />

            <input type="hidden" name="name" value="@ModelName" />

            <input type="submit" class="btn btn-success" value="Save" />
        }

    </div>

</div>

@section Scripts{
    
    <script>

        //serialize while validate

        $("#SaveForm").on("submit", function (event) {

            event.preventDefault();
  
            var data = $("#data").serialize();

            document.getElementById("dataInput").innerHTML = data;
  
        });

        //plus method

        $(function () {
           var i = 0;
           $('.addLink').click(function()
           {
               i++;
               var html2Add= "<div class='bookItem'>"+
            "<h4>Книга № "+(i+1) + "</h4>"+
            "<div><label>Название</label><div>"+
                    "<input type='text' name='Books["+i+"].name' />"+
                "</div></div></div>";
               $('#booksBlock').append(html2Add);
           })
       })

    </script>

}
