@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.Helpers.Models;

@model RedactorView

<div class="container">

    <div class="errors container">

        @if (ViewBag.Errors != null)
        {
            <div class="alert-danger">
                <ul class="list-group">
                    @foreach (var item in ViewBag.Errors)
                    {
                        <li class="list-group-item">
                            @item
                        </li>
                    }
                </ul>
            </div>
        }

    </div>

    <div class="container saved">

        @if (ViewBag.IsSaved != null)
        {
            <div class="alert alert-success">
                Saved
            </div>
        }

    </div>

    @if (Model != null)
    {
        @Html.Partial(Model.View, Model)
    }

</div>

