@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.Helpers.Models;

@model RedactorView

<div class="errors myhmargin">

    @if (ViewBag.Errors != null)
    {
        <div class="alert-danger">
            <ul class="list-group">
                @foreach (var item in ViewBag.Errors)
                {
                    <li class="list-group-item">
                        @item
                    </li>
                }
            </ul>
        </div>
    }

</div>

<div class="saved myhmargin">

    @if (ViewBag.IsSaved != null)
    {
        <div class="alert alert-success">
            Saved
        </div>
    }

</div>

<div class="myhmargin">
    @if (Model != null)
    {
        @Html.Partial(Model.View, Model)
    }
</div>




